@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>


@foreach (var product in @Model.Products)
{
    <table>
        <tr>
            <td>
                <a asp-page="/Products/Details"
                   asp-route-id="@product.ProductID">
                    <image src='/Catalog/Images/Thumbs/@product.ImagePath' width="100" height="75" border="1" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-page="/Products/Details"
                   asp-route-id="@product.ProductID">
                    @product.ProductName
                </a>
                <br />
                <span>
                    <b>Price: </b>@($"{product.UnitPrice:c}")
                </span>
                <br />
                <a href="/AddToCart.aspx?productID=@product.ProductID">
                    <span class="ProductListItem">
                        <b>Add To Cart</b>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
}
